/* ====Common styles==================================================================================== */
/* Wiping markers */
.list {
    list-style-type: none;
}

/* Wiping inderscore */
.link {
    text-decoration: none;
}

/* Cursor changing */
button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}
.mobile-menu-close-btn {
    position: absolute;
    top: 24x;
    right: 16px;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2E2F42;
    line-height: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu-container {
    position: relative;
    top: 16px;
}
.mobile-menu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 72px;
    padding-right: 153px;
    padding-left: 16px;
    padding-bottom: 168px;
}

/* ====/Common styles================================================================================== */
/* ========================================== MOBILE HEADER STYLES ========================================== */

.container { 
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    display: none;
}
.contacts-straight {
    display: none;
}
.page-navigation {
    display: inline-flex;
    height: 24px;
    align-items: center;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e9fc;
    background-color: #FFF;

}
.div-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-studio {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
}
@media screen and (max-width: 767px) {
.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #2F2F37;
    line-height: 0;
}
.mobile-menu-wrapper {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #FFF;

    transform: translateX(100%);
    transition: transform 250ms linear; 
}
.mobile-menu-wrapper.is-open {
    transform: translateX(0%);
}
.mobile-menu-link {
    display: block;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color:#404BBF;
}
.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.mobile-contacts-list-item {
    color: #434455;
}
.mobile-contacts-list-item:hover,
.mobile-contacts-list-item:focus {
    color:#4D5AE5;
}
.team-card {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-list-icon {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
    flex-shrink: 0;
}
.social-link-element {
    width: 40px;
    height: 40px;
}
.social-link-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item:hover,
.social-link-item:focus {
    background-color: #404bbf;
}

/* ========================================== MOBILE BACKDROP STYLES ======================================== */
.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .mobile-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
 }
 
 .mobile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 17px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2E2F42;
    line-height: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-close-btn:hover,
.mobile-modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404BBF;
    border: 0;
}
.mobile-preview-form-descroption {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.mobile.preview-form-descroption {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.mobile-review-form-field-wrapper {
    margin-bottom: 8px;
}
.mobile-review-form-field-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.mobile-review-form-input-wrapper {
    position: relative;
}
.mobile-review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    background-color: transparent;
}
.mobile-review-form-input:focus {
    border-color: #4D5AE5;
}
.mobile-review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-review-form-input:focus+.mobile-review-form-input-icon {
    fill: #4D5AE5;
}
.mobile-review-form-field-margin {
    margin-bottom: 16px;
}
.mobile-review-form-field-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.mobile-review-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    background-color: transparent;
}
.mobile-review-form-comment::placeholder {
    font-family: Roboto;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}
.mobile-review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.mobile-review-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 231px;
    flex-shrink: 0;
}
.review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F4266;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.mobile-review-form-own-checkbox-icon {
    fill: #FFFFFF;
    opacity: 0;
}
.mobile-conditions {
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
.mobile-review-form-submit-btn {
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
}
.mobile-review-form-comment:focus {
    border-color: #4D5AE5;
}
.mobile-review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F4266;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.mobile-review-form-own-checkbox-icon {
    fill: #FFFFFF;
    opacity: 0;
}
.mobile-review-form-checkbox:checked+.mobile-review-form-checkbox-label>.mobile-review-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
    .mobile-review-form-checkbox:checked+.mobile-review-form-checkbox-label .mobile-review-form-own-checkbox-icon {
    opacity: 1;
}
.mobile-menu-navigation {
    margin-bottom: auto;
}
/* ========================================== / MOBILE BACKDROP STYLES ======================================= */
.welcome-card-background {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 96px;
}
@media screen and (min-resolution: 192dpi) {
.welcome-card-background {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel-bg@2x.jpg);
}
}
.welcome-card {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
}
.width-restriction {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 72px;
}
.button {
    background: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button-changing-color:hover,
.button-changing-color:focus {
    background-color: #404BBF;
}
.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantages-items {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.ul-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.section-hedder {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 96px;
    margin-bottom: 72px;
}
.third-section {
    background-color: #F4F4FD;
    padding: 96px 0;
}
.name-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.workplace {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-cards-styles {
    padding: 32px 0;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 14px;
}
.portfolio-item {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.overlay-picture {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-item-styles {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 48px;
}
.welcome-card {
    text-transform: capitalize;
}
/* ========================================== /MOBILE HEADER STYLES ========================================== */
@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
/* ========================================== TABLET HEADER STYLES ========================================== */
.mobile-menu-open-btn {
    display:none;
}
.mobile-menu-wrapper {
    display: none;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link {
    display: block;
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-underline {
    position: relative;
    color: #404bbf;
}

.header-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list {
    display: flex;
}
.contacts-straight {
    font-style: normal;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-modal {
    width: 408px;
    height: 584px;
    padding: 72px 25px 24px 23px;
}
.width-restriction {
    max-width: 496px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
}
.welcome-card-background {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg.jpg);
}

@media screen and (min-resolution: 192dpi) {
    .welcome-card-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@2x.jpg);
    }
}
.contacts-straight {
    display: inline-flex;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.contacts {
    font-family: Roboto;
    font-size: 12px;
    color: var(--SLATE, #434455);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: lowercase;
}
.header-underscore {
    border-bottom: 1px solid #e7e9fc;
}
.welcome-card {
    font-size: 56px;
    width: 496px;
    margin-bottom: 36px;
}
.page-header {
    padding-top: 0;
    padding-bottom: 0;
}
.div-container {
    margin-top: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.ul-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
}
.advantages-list-item {
    width: 356px;
}

.team-card {
    gap: 72px 24px;
}
.portfolio-list-item {
    width: 356px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
    column-gap: 24px;
}
.header-underline {
    position: relative;
    color: #404bbf;
}

.header-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
}
.width-restriction {
    padding-left: 0;
    padding-right: 0;
}
.ul-container {
    margin-bottom: 120px;
}
.third-section {
    background-color: #F4F4FD;
    padding: 0;
}
.section-hedder {
    padding-top: 120px;
}
}
@media screen and (max-width: 1157px) {
    .advantage-picture {
        display: none;
    }
}
/* ========================================== /TABLET HEADER STYLES ========================================== */

/* ========================================== DESKTOP HEADER STYLES ========================================== */
@media screen and (min-width: 1157px) {
    .container {
        max-width: 1158px;
    }
.welcome-card-background {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dt-bg.jpg);
    padding: 188px 0;
}

@media screen and (min-resolution: 192dpi) {
    .welcome-card-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dt-bg@2x.jpg);
    }
}
.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
.advantage-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}
.advantages-text {
    font-size: 16px;
    font-weight: 400;
}

.advantages-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.portfolio-list-item {
    width: 360px;
}
.portfolio-list {
    column-gap: 24px;
}
.adress-container {
    display: flex;
    gap: 40px;
}
.div-container {
    padding-bottom: 22px;
}
.contacts {
    font-size: 16px;
    font-weight: 400;
}
.welcome-card {
    font-size: 56px;
    width: 496px;
    margin-bottom: 48px;
}

}
/* ========================================== /DESKTOP HEADER STYLES ========================================== */