/* Wiping markers */
.list {
    list-style-type: none;
}
/* Wiping inderscore */
.link {
    text-decoration: none;
}
/* Cursor changing */
button {
    cursor:pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455
}
.body-background {
    background-color: #FFFFFF;
}
.logo {
    color:#4d5ae5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
    color:#404BBF;
}
.contacts {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-straight {
    font-style: normal;
}
.welcome-card {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.welcome-card-background {
    background-color: var(--NAVY-BLUE, #2E2F42);
}
.button {
    background:#4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button-changing-color:hover,
.button-changing-color:focus {
    background-color: #404BBF
}
.advantages-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-hedder {
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center
}
.team-card {
    justify-content: center;
    background: var(--WHITE, #FFF);
}
.card-background {
    color:#2e2f42;
}
.mame-card {
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2;
    letter-spacing: 0.02em;
}
.workplace {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-background {
    background: var(--NAVY-BLUE, #2E2F42);
}
.footer-logo {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-two-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.third-section {
    background-color: #F4F4FD
}
.list-item {
    background-color: #FFFFFF
}