/* ====Common styles==================================================================================== */
/* Wiping markers */
.list {
    list-style-type: none;
}
/* Wiping inderscore */
.link {
    text-decoration: none;
}
/* Cursor changing */
button {
    cursor:pointer;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display:block;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
/* ====/Common styles================================================================================== */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.body-background {
    background-color: #FFFFFF;
}
.logo {
    color:#4d5ae5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-studio {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-link {
    display: block;
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
}
.menu-link:hover,
.menu-link:focus {
    color:#404BBF;
}
.menu {
    display: flex;
    gap: 40px;
}
.contacts {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-straight {
    font-style: normal;
    gap: 40px;
}
.welcome-card {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.welcome-card-background {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding: 188px 0;
}
.button {
    background:#4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left:auto;
    margin-right:auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button-changing-color:hover,
.button-changing-color:focus {
    background-color: #404BBF;
}
.advantages-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-hedder {
    color:#2e2f42;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team-card {
    justify-content: center;
    display: flex;
    gap: 24px;
}
.card-background {
    color:#2e2f42;
}
.mame-card {
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2;
    letter-spacing: 0.02em;
}
.workplace {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-item {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-background {
    background: #2E2F42;
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.section-two-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.name-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.advantages-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.footer-studio {
    color: #f4f4fd;
}
/* page navigation========================================================================== */
.page-navigation{
    width: 452px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.div-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adress-container {
    display: flex;
    gap: 40px;
}
.width-restriction {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.header-underscore {
    border-bottom: 1px solid #e7e9fc;
}
.advantages-list {
    padding: 120px 0;
    display: flex;
    gap: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
.ul-container {
    display: flex;
    gap: 24px;
}
.team-cards-styles {
padding: 32px 0;
}
.fourth-srction {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-item-styles {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-link-element {
    width: 40px;
    height: 40px;
}
.social-link-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-list-icon {
    width: 16px;
    height: 16px;
    fill:#F4F4FD;
}
.social-link-item:hover {
    background-color: #404bbf;
}